html {
    background-color: rgb(20, 20, 20);
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 6em;
    font-size: 25px;
}

.header > h3 {
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container > h3 {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.score{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.humanscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.computerscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#box1 {
    justify-content: center;
    padding: 80px;
    margin-bottom: 3em;
    background-color: rgb(145, 37, 37);
    border-radius: 50px;
    border-color: black;
    border: 3px;
    border-style: solid;
    box-shadow: 0px 0px 3px 3px rgb(112, 102, 102);
    font-size: 30px;
}

#box2 {
    justify-content: center;
    padding: 80px;
    margin-bottom: 3em;
    background-color: rgb(145, 37, 37);
    border-radius: 50px;
    border-color: black;
    border: 3px;
    border-style: solid;
    box-shadow: 0px 0px 3px 3px rgb(112, 102, 102);
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.human {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 5em;
}

.computer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-left: 5em;
}

.choice, .choice2 {
    display: flex;
    justify-content: space-between;
}

#rock:hover, #paper:hover, #scissors:hover {
    cursor: pointer;
    border-color: black;
}



button {
    background-color: rgb(145, 37, 37);
    padding: 1em;
    border-radius: 50px;
    border-color: black;
    border: 3px;
    border-style: solid;
    box-shadow: 0px 0px 3px 3px rgb(112, 102, 102);
    color: white;
}

.results {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    font-size: 20px;
}

.footer button {
    visibility: hidden;
}

.footer button:hover {
    border-color: black;
}

a {
    color: rgb(145, 37, 37);
}

@media (max-width: 500px) and (max-height: 900px){
    html, body{
        margin: 0;
    }
    .header {
        display: flex;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        justify-content: center;
    }

    .header > h1{
        font-size: 12px;
    }

    h3 {
        font-size: 12px;
    }

    .container {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .container > h3 {
        font-size: 12px;
    }

    .humanscore > h3, .computerscore > h3 {
        font-size: 10px;
    }

    .results {
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #box1, #box2 {
        padding: 40px;
        font-size: 12px;
    }

    .score {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .human > h1, .computer > h1 {
        font-size: 12px;
    }

    .human{
        display: flex;
        min-width: 0;
        margin: 0;
        margin-bottom: 1em;
    }

    .computer {
        display: flex;
        min-width: 0;
        margin: 0;
        margin-bottom: 1em;
    }

    #rock, #paper, #scissors, #rock2, #paper2, #scissors2 {
        margin: 2em;
    }

    #reset {
        margin: 0;
    }

    button {
        padding: 4px;
    }

    .footer {
        margin: 0;
        font-size: 10px;
        margin-top: 1em;
    }
}